<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.green.project.dao.RootDao">
  	<select id="getProductOptionList" resultType="kr.green.project.dto.ProductOptionDto">
  		select * from product
				join project.option 
		        where product.code = productCode
  				<if test="productCode != null">
  					and product.code like concat('%',#{productCode},'%')
  				</if>
  				<if test="rootCri.type == 'codedown'">
  				order by code desc
  				</if>
  				<if test="rootCri.type == 'codeup'">
  				order by code asc
  				</if>
  				<if test="rootCri.type == 'namedown'">
  				order by name desc
  				</if>
  				<if test="rootCri.type == 'nameup'">
  				order by name asc
  				</if>
  				<if test="rootCri.type == 'sizedown'">
  				order by sizeNum desc
  				</if>
  				<if test="rootCri.type == 'sizeup'">
  				order by sizeNum asc
  				</if>
  				<if test="rootCri.type == 'colordown'">
  				order by color desc
  				</if>
  				<if test="rootCri.type == 'colorup'">
  				order by color asc
  				</if>
  				<if test="rootCri.type == 'amountdown'">
  				order by amount desc
  				</if>
  				<if test="rootCri.type == 'amountup'">
  				order by amount asc
  				</if>
  				<if test="rootCri.type == 'purchasedown'">
  				order by purchase desc
  				</if>
  				<if test="rootCri.type == 'purchaseup'">
  				order by purchase asc
  				</if>
  				limit #{rootCri.pageStart} , #{rootCri.perPageNum}
  	</select>
  	<update id="updateAmount">
  		update project.option set amount = #{amount} where optionCode = #{optionCode}
  	</update>
  	<select id="getProductCode" resultType="kr.green.project.vo.ProductVo">
  		select * from product where code = #{code}		
  	</select>
  	<select id="getOptionSize" resultType="kr.green.project.vo.OptionVo">
  		select * from project.option where productCode = #{productCode} group by size order by sizeNum
  	</select>
  	<select id="getOptionColor" resultType="kr.green.project.vo.OptionVo">
  		select color, sum(amount) as allAmount, productCode  from project.option where productCode = #{productCode} group by color
  	</select>
  	<select id="countOption" resultType="int">
  		select count(*) from product
				join project.option 
		        where product.code = productCode
  				<if test="productCode != null">
  					and product.code like concat('%',#{productCode},'%')
  				</if>
  				<if test="rootCri.type == 'codedown'">
  				order by code desc
  				</if>
  				<if test="rootCri.type == 'codeup'">
  				order by code asc
  				</if>
  				<if test="rootCri.type == 'namedown'">
  				order by name desc
  				</if>
  				<if test="rootCri.type == 'nameup'">
  				order by name asc
  				</if>
  				<if test="rootCri.type == 'sizedown'">
  				order by sizeNum desc
  				</if>
  				<if test="rootCri.type == 'sizeup'">
  				order by sizeNum asc
  				</if>
  				<if test="rootCri.type == 'colordown'">
  				order by color desc
  				</if>
  				<if test="rootCri.type == 'colorup'">
  				order by color asc
  				</if>
  				<if test="rootCri.type == 'amountdown'">
  				order by amount desc
  				</if>
  				<if test="rootCri.type == 'amountup'">
  				order by amount asc
  				</if>
  				<if test="rootCri.type == 'purchasedown'">
  				order by purchase desc
  				</if>
  				<if test="rootCri.type == 'purchaseup'">
  				order by purchase asc
  				</if>
  	</select>
  	<insert id="insertProduct">
  		insert into product values(#{product.code}, #{product.name}, #{product.price}, #{product.gender}, #{product.modify})
  	</insert>
  	<insert id="insertOption">
  		insert into project.option(optionCode, size, color, productCode, sizeNum) values(#{option.optionCode}, #{option.size}, #{option.color}, #{option.productCode}, #{option.sizeNum})
  	</insert>
  	<delete id="deleteSize">
  		delete from project.option where productCode = #{productCode} and size = #{size}
  	</delete>
  	<delete id="deleteColor">
  		delete from project.option where productCode = #{productCode} and color = #{color}
  	</delete>
  	<update id="updateProductModify">
  		update product set modify = #{modify} where code = #{code}
  	</update>
  	<update id="updateProduct">
  		update product set name = #{product.name}, price = #{product.price}, gender = #{product.gender}, modify = #{product.modify}
  	</update>
  	<select id="getOption" resultType="kr.green.project.vo.OptionVo">
  		select * from project.option where productCode = #{productCode} and size = #{size} and color = #{color}
  	</select>
  	<select id="getEnrollment" resultType="kr.green.project.vo.ProductenrollmentVo">
  		select * from project.productenrollment where productCode = #{code}
  	</select>
  	<insert id="insertCategory">
  		insert into category(mainCategory, middleCategory, subCategory) values(#{category.mainCategory}, #{category.middleCategory}, #{category.subCategory})
  	</insert>
  	<select id="getMiddleCategoryList" resultType="String">
  		select middleCategory from category where mainCategory = #{category} group by middleCategory
  	</select>
  	<select id="getSubCategoryList" resultType="String">
  		select subCategory from category where mainCategory = #{category.mainCategory} and middleCategory = #{category.middleCategory} group by subCategory
  	</select>
  	<insert id="insertEnrollment">
  		insert into project.productenrollment(productCode, discount, categoryNum, finalPrice, discountPercent) values(#{enrollment.productCode}, #{enrollment.discount}, #{enrollment.categoryNum}, #{enrollment.finalPrice}, #{enrollment.discountPercent})
  	</insert>
  	<select id="getCategoryNum" resultType="int">
  		select categoryNum from category where mainCategory = #{category.mainCategory} and middleCategory = #{category.middleCategory} and subCategory = #{category.subCategory}
  	</select>
  	<select id="getProductenrollment" resultType="kr.green.project.vo.ProductenrollmentVo">
  		select * from project.productenrollment where num = #{num}
  	</select>
  	<select id="getEnrollmentString" resultType="kr.green.project.vo.ProductenrollmentVo">
  		select * from project.productenrollment where productCode = #{productCode}
  	</select>
  	<select id="getOptionSizeColor" resultType="kr.green.project.vo.OptionVo">
  		select size, productCode, sizeNum, amount from project.option where productCode = #{productCode} and color = #{color} order by sizeNum
  	</select>
  	<update id="insertTitle">
  		update project.productenrollment set mainTitle = #{enrollment.mainTitle}, subTitle = #{enrollment.subTitle}, isDel = 'N' where num = #{enrollmentNum}
  	</update>
  	<insert id="insertThumnailImage">
  		insert into project.thumbnail(enrollmentNum, thumbnailImage) values(#{enrollmentNum}, #{fileName})
  	</insert>
  	<insert id="insertContentImage">
  		insert into project.contentimage(enrollmentNum, contentImage) values(#{enrollmentNum}, #{fileName})
  	</insert>
  	<insert id="insertContentremark">
  		insert into project.contentremark(contentElasticity, contentLining, contentSeethrough, contentThickness, contentWeight, contentDry, contentRemarkText, enrollmentNum) 
  			values(#{remark.contentElasticity}, #{remark.contentLining}, #{remark.contentSeethrough}, #{remark.contentThickness}, #{remark.contentWeight}, #{remark.contentDry}, #{remark.contentRemarkText}, #{enrollmentNum})
  	</insert>
  	<insert id="insertContentsize">
  		insert into project.contentsize(contentSize, contentLength, contentShoulder, contentChest, contentSleeve, enrollmentNum)
  			values(#{size.contentSize}, #{size.contentLength}, #{size.contentShoulder}, #{size.contentChest}, #{size.contentSleeve}, #{enrollmentNum})
  	</insert>
  	<insert id="insertContentSizeText">
  		insert into proejct.contentsizetext(enrollmentNum, contentSizeText) values(#{enrollmentNum}, #{contentSizeText})
  	</insert>
  	<update id="updateImage">
  		update ${table} set 
  					<if test="table eq 'contentimage'">
  						contentImage = #{fileName} where contentImageNum = #{imageNum}
  					</if>
  					<if test="table eq 'thumbnail'">
  						thumbnailImage = #{fileName} where thumbnailNum = #{imageNum}
  					</if>
  					
  					
  	</update>
  	<select id="getImage" resultType="String">
  		select 
  					<if test="table eq 'thumbnail'">
  						 thumbnailImage
  					</if>
  					<if test="table eq 'contentimage'">
  						contentImage
  					</if>
  		from ${table} where
					<if test="table eq 'thumbnail'">
  						thumbnailNum = #{imageNum}
  					</if>
  					<if test="table eq 'contentimage'">
  						contentImageNum = #{imageNum}
  					</if>
  	</select>
  	<delete id="deleteImage">
  		delete from <if test="table eq 'thumbnail'">
  						 proejct.thumbnail
  					</if>
  					<if test="table eq 'contentimage'">
  						proejct.contentimage
  					</if>
  				where 
  					<if test="table eq 'thumbnail'">
  						thumbnailNum = #{imageNum}
  					</if>
  					<if test="table eq 'contentimage'">
  						contentImageNum = #{imageNum}
  					</if>
  	</delete>
  	<update id="updateContentsize">
  		update proejct.contentsize set contentChest = #{contentChest}, contentLength = #{contentLength}, contentShoulder = #{contentShoulder}, contentSleeve = #{contentSleeve}
  				where enrollmentNum = #{enrollmentNum} and contentSize = #{contentSize}
  	</update>
  	<update id="updateContentSizeText">
  		update proejct.contentsizetext set contentSizeText = #{contentSizeText} where enrollmentNum = #{enrollmentNum}
  	</update>
  	
  	<update id="updateContentremark">
  		update proejct.contentremark set contentElasticity = #{contentremark.contentElasticity}, contentLining = #{contentremark.contentLining}, contentSeethrough = #{contentremark.contentSeethrough}, contentThickness = #{contentremark.contentThickness},
  		 contentWeight = #{contentremark.contentWeight}, contentDry = #{contentremark.contentDry}, contentRemarkText = #{contentremark.contentRemarkText} where enrollmentNum = #{enrollmentNum}
  	</update>
  	<select id="getIsEnrollment" resultType="kr.green.project.vo.ProductenrollmentVo">
  		select * from project.productenrollment where productCode = #{productCode} and isDel = 'N'
  	</select>
  	<update id="deleteEnroll">
  		update proejct.productenrollment set isDel = 'Y' where num = #{enrollNum}
  	</update>
  	<update id="updateEnrollment">
  		update proejct.productenrollment set mainTitle = #{enroll.mainTitle}, subTitle = #{enroll.subTitle}, discount = #{enroll.discount}, categoryNum = #{enroll.categoryNum}, finalPrice = #{enroll.finalPrice}
  		,discountPercent = #{enroll.discountPercent}, isDel = 'N' where productCode = #{enroll.productCode}
  	</update>
  	<select id="isEnrollmentContent" resultType="String">
  		select mainTitle from productenrollment where productCode = #{productCode}
  	</select>
  	<select id="getUserList" resultType="kr.green.project.vo.UserVo">
  		select * from user 	<if test="rri.search != null">
			  					where id like concat('%',#{rri.search},'%')
			  					or name like concat('%',#{rri.search},'%')
			  					or phone like concat('%',#{rri.search},'%')
			  					or birthday like concat('%',#{rri.search},'%')
			  					or email like concat('%',#{rri.search},'%')
			  				</if>
			  				<if test="rri.type == '아이디desc'">
			  				order by id desc
			  				</if>
			  				<if test="rri.type == '아이디asc'">
			  				order by id asc
			  				</if>
			  				<if test="rri.type == '이름desc'">
			  				order by name desc
			  				</if>
			  				<if test="rri.type == '이름asc'">
			  				order by name asc
			  				</if>
			  				<if test="rri.type == '전화번호desc'">
			  				order by phone desc
			  				</if>
			  				<if test="rri.type == '전화번호asc'">
			  				order by phone asc
			  				</if>
			  				<if test="rri.type == '생년월일desc'">
			  				order by birthday desc
			  				</if>
			  				<if test="rri.type == '생년월일asc'">
			  				order by birthday asc
			  				</if>
			  				<if test="rri.type == '성별desc'">
			  				order by gender desc
			  				</if>
			  				<if test="rri.type == '성별asc'">
			  				order by gender asc
			  				</if>
			  				<if test="rri.type == '이메일desc'">
			  				order by email desc
			  				</if>
			  				<if test="rri.type == '이메일asc'">
			  				order by email asc
			  				</if>
			  				<if test="rri.type == '포인트desc'">
			  				order by point desc
			  				</if>
			  				<if test="rri.type == '포인트asc'">
			  				order by point asc
			  				</if>
			  				<if test="rri.type == '삭제여부desc'">
			  				order by isDel desc
			  				</if>
			  				<if test="rri.type == '삭제여부asc'">
			  				order by isDel asc
			  				</if>
			  				<if test="rri.type == '삭제일desc'">
			  				order by isDelDate desc
			  				</if>
			  				<if test="rri.type == '삭제일asc'">
			  				order by isDelDate asc
			  				</if>
			  				<if test="rri.type == '특이사항desc'">
			  				order by comment desc
			  				</if>
			  				<if test="rri.type == '특이사항asc'">
			  				order by comment asc
			  				</if>
  	</select>
  	<update id="updateConsumer">
  		update user set
  			<if test="user.name != null">
  				name = #{user.name}
  			</if>
  			<if test="user.phone != null">
  				phone = #{user.phone}
  			</if>
  			<if test="user.birthday != null">
  				birthday = #{user.birthday}
  			</if>
  			<if test="user.gender != null">
  				gender = #{user.gender}
  			</if>
  			<if test="user.email != null">
  				email = #{user.email}
  			</if>
  			<if test='user.isDel == "Y"'>
  				isDel = #{user.isDel}
  				, isDelDate = #{user.isDelDate}
  			</if>
  			<if test='user.isDel == "N"'>
  				isDel = #{user.isDel}
  			</if>
  			<if test="user.comment != null">
  				comment = #{user.comment}
  			</if>
  			where id = #{user.id}
  	</update>
  	<select id="getPurchaseListDelivery" resultType="kr.green.project.vo.PurchaseVo">
  		select * from purchase 
	  				<if test="rri.search != ''">
	  					where invoice like concat ('%',#{rri.search},'%')
	  				</if>
	  				order by situation desc, deposit asc, depositDate asc, num desc
	  				limit #{rri.pageStart}, #{rri.perPageNum}	
  	</select>
  	<select id="getCountPurchase" resultType="int">
  		select count(*) from purchase where isDel = 'N'
	  				<if test="rri.search != ''">
	  					and invoice like concat ('%',#{rri.search},'%')
	  				</if>
	 </select>
	 <update id="insertInvoice">
	 	update purchase set situation = #{purchase.situation}, invoice = #{purchase.invoice} where num = #{purchase.num}
	 </update>
	 <update id="updateInvoice">
	 	update purchase set invoice = #{purchase.invoice} where num = #{purchase.num}
	 </update>
	 <update id="updateSituation">
	 	update purchase set situation = #{purchase.situation}
	 						<if test="purchase.situation == '상품 준비중'">
	 							,invoice = null
	 						</if>
	 						<if test="purchase.situation == '상품 도착'">
	 							,confirmDate = #{purchase.confirmDate}
	 						</if>
	 						<if test="purchase.situation != '상품 도착'">
	 							,confirmDate = null
	 						</if>
	 	 					where num = #{purchase.num}
	 </update>
  </mapper>