<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.project.dao.UserDao">
	<insert id="insertUser">
		insert into user(id, pw, name, phone, birthday, gender, email) values(#{user.id}, #{user.pw}, #{user.name}, #{user.phone}, #{user.birthday}, #{user.gender}, #{user.email})
	</insert>
	<select id="getUserId" resultType="kr.green.project.vo.UserVo">
		select * from user where id = #{id}
	</select>
	<insert id="insertLevel">
		insert into level(userId, level) values(#{id}, 1)
	</insert>
	<update id="updateUserPw">
		update user set pw = #{pw} where id = #{id}
	</update>
</mapper>
