<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.project.dao.VaginalDao">
	<select id="getVaginalList" resultType="kr.green.project.dto.UserVaginalDto">
		select * from vaginal
					join (select * from user) as user
					where vaginal.userId = user.id
					order by num desc
					limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getUserVaginal" resultType="kr.green.project.dto.UserVaginalDto">
		select * from vaginal 
						join (select * from user) as user
						on vaginal.userId = user.id
						where num = #{num}
	</select>
	<select id="getAnswer" resultType="kr.green.project.vo.AnswerVo">
		select * from answer where vaginalNum = #{num}
	</select>
	<update id="increaseView">
		update vaginal set view = view + 1 where num = #{num}
	</update>
	<insert id="insertVaginal">
		insert into vaginal(num, title, registerDate, isSecret, userId, content, registerNum) values(#{vaginal.num}, #{vaginal.title}, #{vaginal.registerDate}, #{vaginal.isSecret}, #{id}, #{vaginal.content}, #{vaginal.registerNum})
	</insert>
	<select id="countVaginalAuth" resultType="int">
		select count(*) from vaginal
							join (select * from user) as user
							on vaginal.userId = user.id
							where user.auth = 0
	</select>
	<select id="countVaginalA" resultType="int">
		select count(*) from vaginal
							join (select * from user) as user
							on vaginal.userId = user.id
							where user.auth = 1
	</select>
	<select id="countVaginal" resultType="int">
		select count(*) from vaginal
	</select>
</mapper>