@charset "UTF-8";
.white{
	background-color: white;
}
.red{
	background-color: red;
}
.orange{
	background-color: orange;
}
.black{
	background-color: black;
}
.green{
	background-color: green;
}
.pink{
	background-color: pink;
}
.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
}
.beige{
	background-color: beige;
}
.khaki{
	background-color: #8f784b;
}
.gray{
	background-color: gray;
}
.ivory{
	background-color: ivory;
}
.oatmeal{
	background-color: #f4eddc;
}
.bluegreen{
	background-color: #0d98ba;
}
.mint{
	background-color: #aaf0d1;
}
.sky{
	background-color: #87ceeb;
}
.cobalt{
	background-color: #0047ab;
}
.hotpink{
	background-color: #ff69b4;
}
.pink{
	background-color: pink;
}
.purple{
	background-color: purple;
}
.lightpurple{
	background-color: #b19cd9;
}