@charset "utf-8";

a{
	color: white;
}
div>h2{
	float: left;
}
.boardSearch{
	margin-left: 10px;
	float: left;
	padding-left: 250px;
}
div>a{
	float: right;
	margin-right: 10px;
}
div>p{
	float: right;
	margin: 0;
	line-height: 30px;
}
.container.body{
	padding: 20px;
}
.search{
	width: 300px;
}
#type{
	height: 30px;
}
tbody> th:nth-of-type(2) {
	overflow: hidden;
	text-overflow: ellipsis;
}