<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.last.dao.BoardDao">
	<select id="getBoardList" resultType="kr.green.last.vo.BoardVo">
		select * from board where isDel = 'N'
									<if test="cri.searchType == 'all'">
    									and (title like concat ('%',#{cri.searchWord},'%')
    									or writer like concat ('%',#{cri.searchWord},'%')
    									or content like concat ('%',#{cri.searchWord},'%'))
    								</if>
    								<if test="cri.searchType == 'title'">
    									and title like concat ('%',#{cri.searchWord},'%')
    								</if>
    								<if test="cri.searchType == 'writer'">
    									and writer like concat ('%',#{cri.searchWord},'%')
    								</if>
    								<if test="cri.searchType == 'content'">
    									and content like concat ('%',#{cri.searchWord},'%')
    								</if>
    								order by num desc limit #{cri.startPage}, #{cri.pageContent};
	</select>
	<insert id="insertBoard">
		insert into board(title, writer, content) values(#{board.title}, #{user}, #{board.content})
	</insert>
	<select id="countBoard" resultType="int">
		select count(*) from board where isDel = 'N'
									<if test="cri.searchType == 'all'">
    									and (title like concat ('%',#{cri.searchWord},'%')
    									or writer like concat ('%',#{cri.searchWord},'%')
    									or content like concat ('%',#{cri.searchWord},'%'))
    								</if>
    								<if test="cri.searchType == 'title'">
    									and title like concat ('%',#{cri.searchWord},'%')
    								</if>
    								<if test="cri.searchType == 'writer'">
    									and writer like concat ('%',#{cri.searchWord},'%')
    								</if>
    								<if test="cri.searchType == 'content'">
    									and content like concat ('%',#{cri.searchWord},'%')
    								</if>
	</select>
	<select id="getBoard" resultType="kr.green.last.vo.BoardVo">
		select * from board where num = #{num}
	</select>
	<update id="updateViews">
		update board set views = views + 1 where num = #{num}
	</update>
	<update id="updateBoard">
		update board set title = #{board.title}, content = #{board.content}, modify = #{board.modify}, modifyDate = #{board.modifyDate}
				,commend = (select count(*) from commend where boardNum = #{board.num} and type = '1')
				,deprecated = (select count(*) from commend where boardNum = #{board.num} and type = '0')
				,file = (select count(*) from file where boardNum = #{board.num})
		 		where num = #{board.num}
	</update>
	<update id="deleteBoard">
		update board set isDel = #{board.isDel}, delDate = #{board.delDate} where num = #{board.num}
	</update>
	<select id="getCommend" resultType="kr.green.last.vo.CommendVo">
		select * from commend where boardNum = #{board.num} and userId = #{user.id}
	</select>
	<insert id="insertCommend">
		insert into commend(boardNum, userId, type) values(#{board.num}, #{user.id}, #{type})
	</insert>
	<update id="updateCommend">
		update commend set type = #{type} where num = #{commend.num}
	</update>
	<insert id="insertFile">
		insert into file(boardNum, name) values(#{boardNum}, #{file})
	</insert>
	<select id="getBoardNum" resultType="int">
		select max(num) from board
	</select>
	<select id="getFileList" resultType="kr.green.last.vo.FileVo">
		select * from file where boardNum = #{boardNum}
	</select>
	<update id="updateBoardFile">
		update board set file = (select count(*) from file where boardNum = #{boardNum}) where num = #{boardNum}
	</update>
	<delete id="deleteBoardFile">
		delete from file where boardNum = #{boardNum}
	</delete>
</mapper>