<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.last.dao.UserDao">
  <select id="getUser" resultType="kr.green.last.vo.UserVo">
    select * from user where id = #{user.id}
  </select>
  <insert id="insertUser">
  	insert into user(id,pw,name,gender,birthday,phone,email) values (#{user.id},#{user.pw},#{user.name},#{user.gender},#{user.birthday},#{user.phone},#{user.email})
  </insert>
  <select id="isUser" resultType="string">
  	select id from user where id = #{id}
  </select>
  <select id="getId" resultType="string">
  	select id from user where email = #{email}
  </select>
  <select id="getEmail" resultType="string">
  	select email from user where id = #{id}
  </select>
  <update id="newPw">
  	update user set pw = #{pw} where id = #{id}
  </update>
</mapper>