<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDao">
  <select id="getBoardList" resultType="kr.green.spring.vo.BoardVo">
    select * from board where isDel = 'N'
    					<if test="cri.type == 0">
    						and (title like concat('%',#{cri.search},'%')
    						or writer like concat('%',#{cri.search},'%')
    						or content like concat('%',#{cri.search},'%'))
    					</if>
    					<if test="cri.type == 1">
    						and title like concat('%',#{cri.search},'%')
    					</if>
    					<if test="cri.type == 2">
    						and writer like concat('%',#{cri.search},'%')
    					</if>
    					<if test="cri.type == 3">
    						and content like concat('%',#{cri.search},'%')
    					</if>
    					order by num desc limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="getBoard" resultType="kr.green.spring.vo.BoardVo">
    select * from board where num = #{num}
  </select>
  <update id="increaseViews">
  	update board set views = views+1 where num = #{num}
  </update>
  <insert id="registerBoard">
  	insert into board(title, writer, content, file) values(#{board.title},#{board.writer},#{board.content},#{board.file})
  </insert>
  <select id="getBoardCnt" resultType="int">
  	select count(*) from board where isDel = 'N'
  						<if test="cri.type == 0">
    						and (title like concat('%',#{cri.search},'%')
    						or writer like concat('%',#{cri.search},'%')
    						or content like concat('%',#{cri.search},'%'))
    					</if>
  						<if test="cri.type == 1">
    						and title like concat('%',#{cri.search},'%')
    					</if>
    					<if test="cri.type == 2">
    						and writer like concat('%',#{cri.search},'%')
    					</if>
    					<if test="cri.type == 3">
    						and content like concat('%',#{cri.search},'%')
    					</if>
  </select>
  <update id="updateBoard">
  	update board set title = #{board.title}, content = #{board.content}, isDel = #{board.isDel}, delDate = #{board.delDate}, modify = #{board.modify}, 
  			commend = (select count(*) from commend where boardNum = #{board.num}),
  			deprecated = (select count(*) from deprecated where boardNum = #{board.num}),
  			file = #{board.file}
  			where num = #{board.num}
  </update>
  <delete id="deleteBoard">
  	delete from board where num = #{num}
  </delete>
  <update id="deupBoard">
  	update board set isDel = 'Y' where num = #{num}
  </update>
  <insert id="insertCommend">
  	insert into commend(id,boardNum) values(#{id},#{boardNum});
  </insert>
  <select id="isCommend" resultType="int">
  	select count(*) from commend where boardNum = #{boardNum} and id = #{id};
  </select>
</mapper>