<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.test.dao.BoardDao">
  <select id="getBoardList" resultType="kr.spring.test.vo.BoardVo">
    select * from board where isDel = 'N'
    							<if test="cri.type == 'all'">
    								and (title like concat ('%',#{cri.search},'%')
    								or writer like concat ('%',#{cri.search},'%')
    								or content like concat ('%',#{cri.search},'%'))
    							</if>
    							<if test="cri.type == 'title'">
    								and title like concat ('%',#{cri.search},'%')
    							</if>
    							<if test="cri.type == 'writer'">
    								and writer like concat ('%',#{cri.search},'%')
    							</if>
    							<if test="cri.type == 'content'">
    								and content like concat ('%',#{cri.search},'%')
    							</if>
    						order by num desc limit #{cri.pageStart}, #{cri.contentNum}
  </select>
  <select id="getBoard" resultType="kr.spring.test.vo.BoardVo">
  	select * from board where num = #{num}
  </select>
  <update id="updateViews">
  	update board set views = views+1 where num = #{num}
  </update>
  <select id="cntBoard" resultType="Integer">
  	select count(*) from board where isDel = 'N'
    							<if test="cri.type == 'all'">
    								and (title like concat ('%',#{cri.search},'%')
    								or writer like concat ('%',#{cri.search},'%')
    								or content like concat ('%',#{cri.search},'%'))
    							</if>
    							<if test="cri.type == 'title'">
    								and title like concat ('%',#{cri.search},'%')
    							</if>
    							<if test="cri.type == 'writer'">
    								and writer like concat ('%',#{cri.search},'%')
    							</if>
    							<if test="cri.type == 'content'">
    								and content like concat ('%',#{cri.search},'%')
    							</if>
  </select>
  <insert id="insertBoard">
  	insert into board(title, writer, content, file) values (#{board.title}, #{board.writer}, #{board.content}, #{board.file})
  </insert>
  <update id="updateBoard">
  	update board set title = #{board.title}, content = #{board.content}, isDel = #{board.isDel}, modify = #{board.modify}, delDate = #{board.delDate} 
  				,commend = (select count(*) from commend where type = 1 and boardNum = #{board.num})
  				,deprecated = (select count(*) from commend where type = 0 and boardNum = #{board.num})
  				where num = #{board.num}
  </update>
  <select id="getCommend" resultType="kr.spring.test.vo.CommendVo">
  	select * from commend where id = #{userId} and boardNum = #{boardNum};
  </select>
  <insert id="insertCommend">
  	insert into commend(id, boardNum, type) values(#{userId},#{boardNum},#{type});
  </insert>
  <update id="updateCommend">
  	update commend set type = #{type} where num = #{num}
  </update>
</mapper>