@charset "UTF-8";
.signinContainer{
	width:400px;
	margin: 20px auto;
}
.signinContainer>input{
	outline: none;
	paddin-left: 5px;
}
.signinContainer>div{
	margin-top: 30px;
}
.signinContainer input{
	width: 100%;
}
.search{
	text-align: center;
}
.search>a{
	color: black;
	text-decoration: none;
	padding: 0 10px;
}
.search>a:hover{
	text-decoration: underline;
}
button[type="submit"]{
	border: none;
	background-color: transparent;
	padding-right: 10px;
}
button[type="submit"]:hover {
	text-decoration: underline;
}